*.pyc
*.db
*.pem
log/
test.py
static/images/entry_qrcode.png
MP_verify_O6UrgEPBKJpwBg64.txt

.idea/workspace.xml

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/wx-hongbao.iml
